body{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #001e1e;
    font-family: Poppins;
}

.card{
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
} 

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

 .navbar li {
    list-style-type:none;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 15px;
  }

  .navbar p {
    font-weight: 600;
    font-size: 20px;
    margin-right: 15px;
  }

  .navbar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 5px;
    margin: 10px;
  }

   .navbar button {
    padding: 12px 15px;
    background-color: rgb(7, 6, 6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
  }

   .navbar .b2 {
    background-color: rgb(240, 242, 243);
    color: black;
  }

  .bb {
    display: flex;
    width: 100%;
  }

  .cc {
    flex: 1;
    background-color: #f9f5f5;
    padding: 40px;
    box-sizing: border-box;
  }
.cc h6 {
    margin: 0 0 10px;
    font-weight: 300;
}
  .cc h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #001e1e;
    margin: 0 0 10px;
  }
  .cc p {
    margin: 0 0 20px;
    font-size: 15px;
  }
  .cc button {
    background-color: #001e1e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .cc button:hover {
    background-color: #004d4d;
  }
  .navbar .b2:hover {
    background-color: #001e1e;
    color: white;
  }
  .cc ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  .cc ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .cc ul li ::before {
    content: ;
    margin-right: 10px;
    color: #001e1e;
  }

  .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pic {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }

  @media (max-width: 1024px) {
    .bb {
        flex-direction: column;
    }
    .cc,.bb {
        flex: none;
        width: 100%;
    }
    .cc img {
        max-height: 400px;
    }
  }

  @media ( max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }
    .nav {
        order: 3;
        width: 100%;
        margin-top: 20px;
    }
    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
  }

